@use "variables" as *;


.background-container {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  right: 0;
  z-index: 900;
  transition: backdrop-filter 400ms linear;

  .logo {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }

  .blur-overlay {
    position: relative;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(0px);
    transition: backdrop-filter 600ms linear, background 600ms linear;
  }

  .blur-overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: inherit;
  }

  .blur-overlay.make-blur {
    backdrop-filter: blur(60px);
  } 

  .blur-overlay.blue-bg {
    background: rgba($color: $gBlue, $alpha: .4);
  }

  .blur-overlay.blue-bg::after {
    background: rgba($color: $black, $alpha: .2);
  }

  .blur-overlay.pink-bg::after {
    background: rgba($color: $g-pink-overlay, $alpha: .4)
  }

  .blur-overlay.ivory-bg {
    background: rgba($color: $ivory, $alpha: .4);
  }

  .blur-overlay.cyan-bg {
    background: rgba($color: $g-cyan-overlay, $alpha: .4);
  }

  .overlay {
    position: absolute;
    top: -200%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 400px;
    background: #2c2c2c;

    &:nth-child(2) {
      background: $black;
    }

    &:nth-child(3) {
      background: #000;
    }
  }
  
  // ===== dark bg =====
  .blur-overlay[data-page-theme="dark"] {

    &.pink-bg::after, 
    &.cyan-bg,
    &.blue-bg {
      background: rgba($color: #000000, $alpha: .4);
    }
  }

}