@use "variables" as *;


.polygon-icon-container {
  overflow: hidden;
}

.polygon-icon {
  position: relative;

  p {
    font-family: "MontMedium";
    font-size: $title;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -55%);
  }
}